{% extends 'base.html.twig' %}

{% block title %}{% trans %} panier.index.title {% endtrans %}{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_boutique_index") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-shopping-cart"></i>
                <span class="badge badge-pill badge-danger">{{ nombreProduits }}</span>
                produit(s) - montant :
                <b>{{ total }} €</b>
            </h3>

            {% if (app.user) %}
                <div class="col-md-6 align-self-center btn-group btn-group" role="group">
                    <a class="btn btn-primary" href="{{ path("app_panier_commander") }}">
                        Passer la commande
                    </a>
                </div>
            {% endif %}

        </div>

        {# Affichage des produits du panier #}
        <div class="card-body">

            {# S'il n'y a pas de produits #}
            {% if nombreProduits == 0 %}

                <div class="card-body">
                    <h5>
                        <i>Ton panier est vide !<br>
                            Voudrais-tu briser notre petit cœur fragile de commerçant ?<br><br>
                        </i>
                        <a href="{{ path("app_boutique_index") }}">
                            <i class="fas fa-2x fa-heart-broken text-danger text-blink"></i>
                        </a>
                    </h5>
                </div>

            {# S'il y a des produits #}
            {% else %}

                <div class="row">
                    <table class="table table-striped table-sm table-hover">

                        {# Entête du tableau #}
                        <thead>
                        <tr>
                            <th></th>
                            <th>Produit</th>
                            <th class="text-right">Prix</th>
                            <th>Quantité</th>
                            <th class="text-right">Total</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>

                        {# Corps du tableau #}
                        <tbody>

                        {# Une ligne pour chaque produit du panier #}
                        {% for ligneProduit in contenuPanier %}
                            <tr>
                                <td>
                                    <img src="{{ asset(ligneProduit.produit.visuel) }}" class="cart-img-produit" alt="{{ ligneProduit.produit.libelle }}">
                                </td>
                                <td>
                                    <a href="{{ path("app_boutique_rayon", { idCategorie: ligneProduit.produit.categorie.id }) }}">
                                        <b>{{ ligneProduit.produit.libelle }}</b>
                                    </a>
                                </td>
                                <td class="text-right">
                                    {{ ligneProduit.produit.prix }} €
                                </td>
                                <td>
                                    <a href="{{ path("app_panier_enlever", { idProduit: ligneProduit.produit.id, quantite: 1 }) }}">
                                        <i class="fas fa-minus-square text-muted"></i>
                                    </a>
                                    {{ ligneProduit.quantite }}
                                    <a href="{{ path("app_panier_ajouter", { idProduit: ligneProduit.produit.id, quantite: 1 }) }}">
                                        <i class="fas fa-plus-square text-muted"></i>
                                    </a>
                                </td>
                                <td class="text-right">
                                    {{ ligneProduit.produit.prix * ligneProduit.quantite }} €
                                </td>
                                <td>
                                    <a href="{{ path("app_panier_supprimer", { idProduit: ligneProduit.produit.id }) }}">
                                        <i class="fas fa-trash text-muted" data-toggle="tooltip" title="Supprimer <b>{{ ligneProduit.produit.libelle }}</b>" data-placement="right" data-html="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {%endfor %}

                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-right" colspan="4">
                                    Total
                                </th>
                                <th class="text-right">
                                    {{ total }} €
                                </th>
                                <th>
                                    <a href="{{ path("app_panier_vider") }}">
                                        <i class="fas fa-trash text-muted" data-toggle="tooltip" title="Vider tout le panier" data-placement="right" data-html="true"></i>
                                    </a>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            {% endif %}

        </div>
    </div>
{% endblock %}
