{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}

    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_usager_index") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>Mes
                <span class="badge badge-pill badge-info">{{ commandes|length }}</span>
                Commande(s)
            </h3>
        </div>
        <div class="card-body row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Voir Détails</th>
                    <th>Date</th>
                    <th class="text-right">Montant</th>
                    <th>Validation</th>
                </tr>
                </thead>

                {% if commandes %}

                    {% for commande in commandes %}
                        <tbody>
                            <tr>
                                <td>
                                    <a class="btn btn-sm btn-danger" href="{{ path("app_usager_commande", { 'idCommande' : commande.id }) }}">Commande N°
                                        <span class="badge badge-light">{{ commande.id }}</span>
                                    </a>
                                </td>
                                <td>{{ commande.getDateCreation()|date('d-m-Y') }}</td>
                                <td class="text-right">
                                    {{ commande.getPrix() }}€
                                </td>
                                <td>
                                    <i class="fas fa-hourglass-half text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}

                {% else %}

                    <tbody>
                        <tr>
                            <td colspan="4">
                                <h5>
                                    <i>Tu n'as pas encore commandé !<br>
                                        Voudrais-tu briser notre petit coeur fragile de commerçant ?<br><br>
                                    </i>
                                    <a href="{{ path("app_boutique_index") }}">
                                        <i class="fas fa-2x fa-heart-broken text-danger text-blink"></i>
                                    </a>
                                </h5>
                            </td>
                        </tr>
                    </tbody>

                {% endif %}

            </table>
        </div>
    </div>

{% endblock %}