{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
    <h1>Votre compte</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if usager %}
            <tr>
                <td>{{ usager.id }}</td>
                <td>{{ usager.email }}</td>
                <td>{{ usager.roles ? usager.roles|json_encode : '' }}</td>
                <td>{{ usager.password }}</td>
                <td>{{ usager.nom }}</td>
                <td>{{ usager.prenom }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Vous n'êtes pas connecté.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_usager_new') }}">S'inscrire</a>
{% endblock %}
