{% extends 'base.html.twig' %}

{% block title %}{% trans %} boutique.index.title {% endtrans %}{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_default_index") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-store"></i>
                Boutique
                <span class="badge badge-pill badge-info">{{ categories|length }}</span>
                rayon(s) proposé(s)
                {# TODO : traduction #}
            </h3>
        </div>

        {# Affichage de toutes les catégories (= les rayons) #}
        <div class="card-body row">

            {% for categorie in categories %}

                <div class="col-md-3">
                    <div class="card clickable" onclick="location = '{{ path("app_boutique_rayon", { 'idCategorie' : categorie.id }) }}'">
                        <img src="{{ asset(categorie.visuel) }}" class="card-img-top" alt="{{ categorie.libelle }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ categorie.libelle }}</h4>
                            <p class="card-text">
                                <i>{{ categorie.texte }}</i>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}
