{# Barre de navigation  #}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

	{# Vers l'accueil #}
	<a class="navbar-brand" href="{{ path("app_default_index") }}">
		<i class="fas fa-home"></i>
		{% trans %} navbar.accueil {% endtrans %}
	</a>

	{# Bouton d'accès au menu (s'il est rétracté) #}
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">

			{# Vers la boutique #}
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_boutique_index") }}">
					<i class="fas fa-store"></i>
					{% trans %} navbar.boutique {% endtrans %}
				</a>
			</li>

			{# Vers la page Contact #}
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_default_contact") }}">
					<i class="fas fa-comments"></i>
					{% trans %} navbar.contact {% endtrans %}
				</a>
			</li>

			{# Vers le panier #}
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_panier_index") }}">
					<i class="fas fa-shopping-cart"></i>
					<span class='badge badge-pill badge-danger'>
						{{ render(
							controller('App\\Controller\\PanierController::nombreProduits')
						) }}
					</span>
					{% trans %} navbar.produits {% endtrans %}
				</a>
			</li>

			{# Liste déroulante pour gérer l'usager #}
			<ul class="navbar-nav my-0">
				<li class="nav-item dropdown">

					<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user"></i>
						{% if (app.user) %}
							{{ app.user.prenom }}
						{% else %}
							Usager
						{% endif %}
					</span>
					<div class="dropdown-menu" aria-labelledby="dropdown02" style="min-width: 5rem;">
						{% if (app.user) %}
							<a class="dropdown-item disabled" href="{{ path("app_login") }}">
								Connexion						</a>
							<a class="dropdown-item disabled" href="{{ path("app_usager_new") }}">
								Inscription						</a>
							<a class="dropdown-item" href="{{ path("app_usager_index") }}">
								Mon Compte						</a>
							<a class="dropdown-item disabled" href="">
								Mes Commandes						</a>
							<a class="dropdown-item" href="{{ path("app_logout") }}">
								Déconnexion						</a>
						{% else %}
							<a class="dropdown-item" href="{{ path("app_login") }}">
								Connexion						</a>
							<a class="dropdown-item" href="{{ path("app_usager_new") }}">
								Inscription						</a>
							<a class="dropdown-item disabled" href="{{ path("app_usager_index") }}">
								Mon Compte						</a>
							<a class="dropdown-item disabled" href="">
								Mes Commandes						</a>
							<a class="dropdown-item disabled" href="{{ path("app_logout") }}">
								Déconnexion						</a>
						{% endif %}

					</div>
				</li>
			</ul>
		</ul>

		<!-- DEBUT CHAMP DE RECHERCHE -->
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" id="searchString" type="text" placeholder="{% trans %} navbar.chercher {% endtrans %}" aria-label="Search">
			<button class="btn btn-secondary my-2 my-sm-0" id="searchButton">
				<i class="fas fa-search"></i>
			</button>
		</form>
		<!-- FIN CHAMP DE RECHERCHE -->

		<!-- DEBUT MENU DES MONNAIES -->
		{# TODO #}
		<!-- FIN MENU DES MONNAIES -->

		<!-- DEBUT MENU DES LANGUES -->

		<!-- Locale actuelle -->
		{% set locale = app.request.attributes.get('_locale') %}
		<ul	class="navbar-nav my-0">
			<li class="nav-item dropdown">
				<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="{{ asset("images/locale/"~locale~".png") }}" alt="{{ locale|upper }}">
				</span>

		<!-- Afficher la liste des locales possibles, sauf la locale actuelle -->
		{% for uneLocale in supported_locales | split('|') %}
			{% if (uneLocale != locale)  %}
				<div class="dropdown-menu" aria-labelledby="dropdown01" style="min-width: 5rem;">
					<!-- Récupérer la route actuelle -->
					{% set route = app.request.attributes.get('_route') %}
					<!-- Récupérer les paramètres de la route actuelle -->
					{% set params = app.request.attributes.get('_route_params') %}
					<!-- Modifier la valeur du paramètre _locale dans params -->
					{% set params = params | merge ({ '_locale': uneLocale }) %}

					<a class="dropdown-item" href="{{ path(route, params) }}">
						<img src="{{ asset("images/locale/"~uneLocale~".png") }}" alt="{{ uneLocale|upper }}">
					</a>
				</div>
			{% endif %}
		{% endfor %}

			</li>
		</ul>

		<!-- FIN MENU DES LANGUES -->

	</div>
</nav>